bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: cnpg-objectstores
    namespace: default
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/cnpg-objectstores.yaml.gotmpl
