bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: media-namespaces
    namespace: default
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/pvcs/media-namespaces.yaml
