bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: external-services
    namespace: traefik
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/infra/external-services.yaml.gotmpl
