bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: velero
    namespace: velero
    chart: vmware-tanzu/velero
    version: "12.0.0"
    disableValidationOnInstall: true
    values:
      - installCRDs: true
      - ../../values/velero/values.yaml.gotmpl
