bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: jellyfin
    condition: features.jellyfin.app.enabled
    namespace: media
    chart: jellyfin/jellyfin
    version: "2.7.0"
    values:
      - ../../values/jellyfin/values.yaml.gotmpl
