bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: radarr
    condition: features.radarr.enabled
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/radarr/values.yaml.gotmpl
