bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: sonarr
    condition: features.sonarr.enabled
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/sonarr/values.yaml.gotmpl
