global:
  domain: "argo.{{ requiredEnv "DOMAIN" }}"

configs:
  params:
    server.insecure: true

server:
  service:
    annotations:
      traefik.ingress.kubernetes.io/service.serversscheme: "h2c"

  ingress:
    enabled: true
    ingressClassName: traefik
    https: false
    annotations:
      traefik.ingress.kubernetes.io/router.tls: "true"
      traefik.ingress.kubernetes.io/router.tls.certresolver: "letsencrypt"
