resources:
  # Secret pour l'initialisation de la BDD Authentik (lu par CNPG et par Authentik)
  - apiVersion: v1
    kind: Secret
    metadata:
      name: authentik-db-secret
      namespace: auth
    type: kubernetes.io/basic-auth
    stringData:
      username: authentik
      password: {{ requiredEnv "AUTHENTIK_DB_PASSWORD" | quote }}