bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: authentik-db
    condition: features.authentik.db.enabled
    namespace: auth
    chart: cnpg/cluster
    version: "0.6.0"
    values:
      - ../../values/authentik-db/values.yaml.gotmpl
