bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: authentik-db-16
    namespace: auth
    chart: cnpg/cluster
    version: "0.6.0"
    values:
      - ../../values/authentik-db-16/values.yaml.gotmpl
