bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: auth-secrets
    namespace: auth
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/secrets/garage-secrets.yaml.gotmpl
