bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: immich
    condition: features.immich.app.enabled
    namespace: photos
    chart: immich/immich
    version: "0.10.3"
    values:
      - ../../values/immich/values.yaml.gotmpl
