bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: affine-db
    condition: features.affine.db.enabled
    namespace: productivity
    chart: cnpg/cluster
    version: "0.6.0"
    values:
      - ../../values/affine-db/values.yaml.gotmpl
