bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: vaultwarden
    condition: features.vaultwarden.enabled
    namespace: productivity
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/vaultwarden/values.yaml.gotmpl
