bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: affine-redis
    namespace: affine
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/affine-redis/values.yaml.gotmpl
