bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: affine-secrets
    namespace: affine
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/secrets/affine.yaml.gotmpl
