resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: media-secrets
      namespace: media
    type: Opaque
    stringData:
      # ProtonVPN WireGuard — Géré par Gluetun
      # Générer depuis https://account.proton.me/u/0/vpn/WireGuard (activer NAT-PMP)
      PROTON_WIREGUARD_PRIVATE_KEY: {{ requiredEnv "PROTON_WIREGUARD_PRIVATE_KEY" | quote }}
