bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: immich-db
    condition: features.immich.db.enabled
    namespace: photos
    chart: cnpg/cluster
    version: "0.6.0"
    values:
      - ../../values/immich-db/values.yaml.gotmpl
