nfs:
  server: {{ requiredEnv "NFS_SERVER" | quote }}
  path: {{ requiredEnv "NFS_MEDIA_PATH" | quote }}

storageClass:
  name: nfs-media
  defaultClass: false
  reclaimPolicy: Retain
  archiveOnDelete: false
  volumeBindingMode: WaitForFirstConsumer

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi